.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; margin-bottom: 2rem; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;height: 100%;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
button img {
    height: 1rem;
    width: 1rem;
}

.img-left {
    transform: rotate(90deg);
}

.btn.btn-danger{
    margin: .5rem;
} 

.img-right {
    transform: rotate(-90deg);
}